body {
	background-color: transparent;
}

.color-list {
	list-style: none;
	padding: 0;
}

.color-entry {
	width: 100%;
	display: flex;
	margin-bottom: 0.4em;
	border: 1px solid var(--vscode-input-border);
}

.color-preview {
	width: 2em;
	height: 2em;
}

.color-preview:hover {
	outline: inset white;
}

.color-input {
	display: block;
	flex: 1;
	width: 100%;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	border: none;
	padding: 0 0.6em;
}

.generate-button {
	display: block;
	border: none;
	margin: 0 auto;
}

.generate-button-disabled {
	pointer-events: none;
	opacity: 0.5;
}

.prompt-container {
	margin-top: 10px;
}

.prompt-input {
	width: 90vw;
	height: 200px;
	resize: vertical;
}

.radio-container {
	display: flex;
	align-items: start;
}

.cache-checkbox {
	margin: 5px;
}

label {
	padding-top: 2px;
}

.source-radio {
	max-width: 30px;
    padding-right: 5px;
}

.model-selector {
	padding-top: 10px;
	padding-bottom: 15px;
}

.model-selector select {
	margin-left: 10px;
}
